<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">

  <title><%=title%> | </title>

  
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>

      <link rel="stylesheet" href="/../css/style-mainmenu.css">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
      <meta name="theme-color" content="#29434d" />
          <meta name="msapplication-TileColor" content="#29434d" />
         

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  
  <style>
  
  

  #main{
 
  width: 100%;
  height:100%;
  background-color: pink;
  border:2px;

  }
  
  #left{

 float:left; 
  width: 50%;
  background-color: powderblue;

  }
  #right{
  float:right;
  width: 50%;
  }

  .starttestload {
    display: block;
    padding: 10px 20px;
    background: #ccc;
    cursor: pointer;
}
#loadingProgressG {
    display: none;
}

#loader2{

  max-width:100%;
    height:auto;

}
  </style>
  
</head>

<body>

  <div class="page-wrapper chiller-theme toggled">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <div id="close-sidebar">
          <i class="fas fa-times"></i>
        </div>
      </div>
      <div class="sidebar-header">
        <div class="user-pic">
          <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg"
            alt="User picture">
        </div>
      
        <% data1.forEach((sensor, index) => { %>
          

        <div class="user-info">
          <span class="user-name">
              <strong><%=sensor.username%></strong>
          </span>
          <span class="user-role"><%=sensor.country%></span>
          
          <%})%>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span> Online</span>
          </span>
        </div>
      </div>
      <!-- sidebar-header  -->
      <div class="sidebar-search">
        <div>
          <div class="input-group">
            <input type="text" class="form-control search-menu" placeholder="Search...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="fa fa-search" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- sidebar-search  -->
      <div class="sidebar-menu">
        <ul>
         
          <li>
            <a href="/mytest">
              <i class="fa fa-check"></i>
              <span>My Tests</span>
              
            </a>
          </li>
          <li>
              <a href="#">
              <i class="fa fa-bullhorn"></i>
              <span>Reminder</span>
              <span class="badge badge-pill badge-danger">3</span>
            </a>
           
          </li>
          <li>
            <a href="#">
              <i class="far fa-user"></i>
              <span>Expertise</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa  fa-eye"></i>
              <span>Feeds</span>
            </a>
          
          </li>
          <li>
            <a href="/allschemes">
              <i class="fa fa-university"></i>
              <span>Schemes</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a href="#">
              <i class="fa fa-book"></i>
              <span>Library</span>
            </a>
            


            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a href="#">Google maps</a>
                </li>
                <li>
                  <a href="#">Open street map</a>
                </li>
              </ul>
            </div>
          </li>
         <li>
            <a href="#">
              <i class="fa fa-calendar"></i>
              <span>Calendar</span>
            </a>
          </li>
          <li>
            <a href="/farmerguide">
              <i class="fa fa-folder"></i>
              <span>Farmers Guide</span>
            </a>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
    <!-- sidebar-content  -->
    <div class="sidebar-footer">
      <a href="#">
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">3</span>
      </a>
      <a href="#">
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <a href="#">
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <a href="/login">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </nav>
  <!-- sidebar-wrapper  -->
  <main class="page-content">
        <div class="container-fluid">
          <h2>My Tests</h2>
             
          <% for(var i=0; i<1; i++){ %>
            Kit Number : <%=data1[i].username%>

            <%}%>
          <hr>
          <center><div id="loadingProgressG"><img id="loader2" src="/../images/load2.gif"></div></center>

          <div id="main">
            <div id="left" class="container">
            <br>
            <form method="get" action="/flame">
         
              <input type="submit" value="CHECK FLAME" />  
 
            <form class="starttestload" method="post" action="/insertvalues">
         
            <input type="submit" value="Start Test" />  
         
          </form>
          
          <%if(showtests==true) {%>

          <% data1.forEach((sensor, index) => { %>
            <%=sensor.ph%>

            <%})%>

            <% data1.forEach((sensor, index) => { %>
                <%=sensor.username%>
    
                <%})%>
          <%}%>
        <%=title%>
     
            <br>
              <div class="panel-group" id="accordion">
                <%if(showtests==true) {%>
                  <%var i=0;%>
                  <%for(var k = 0; k < 10 ;k++){%>
                    
                    <% i=i+1; %>
                   <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse<%-i%>">TEST <%=k%></a>
                      </h4>
                    </div>
                    <div id="" class="panel-collapse collapse in">
                      <div class="panel-body">
                          PH : <%=results2[k].ph%>
                          Moisture : <%=results3[k].moisture%>
                        
                         

                      </div>
                    </div>
                  </div>                  
  
                  
                <%}%> 
                <%}%> 
              </div> 
            </div>
            
            <div id="right">
           
                      <div id="piechart"></div>
              <%if(showtests==true){%>
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

          <script type="text/javascript">
          // Load google charts
          google.charts.load('current', {'packages':['corechart']});
          google.charts.setOnLoadCallback(drawChart);
          var moisture= <%=results1[0].moisture%>;
          var ph= <%=results1[0].ph%>;
          var ec= <%=results1[0].ec%>;
            
          // Draw the chart and set the chart values
          function drawChart() {
            var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['PH', ph],
            ['MOISTURE', moisture],
            ['EC', ec]
          ]);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'My Average Day', 'width':550, 'height':400};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
          }
          </script>
<%}%>          
            </div>
                
            </div>
          
    
      </main>
      
<!-- page-wrapper -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/esm/popper.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/js/bootstrap.js'></script>

  

    <script  src="/../js/js-mainmenu.js"></script>




   
</body>

<script>
    $(".starttestload").submit(function (e) {
    e.preventDefault();

    var form = this;
    $("#loadingProgressG").show();
    $("#main").hide();

    setTimeout(function () {
    $("#loadingProgressG").hide();
    form.submit();
    $("#main").show();

    }, 3000); // in milliseconds
    });

   </script>


</html>
